body{
 background-color: lightpink;
}

.main_container{
min-width: 100vw;
min-height: 100vh;
background-color: lightblue;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,1fr);
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.month{
    display: flex;
    justify-content: center;
    align-items: center;
}